<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QRVision</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Введите код доступа</h1>
        <input type="password" id="accessCode" placeholder="Введите код">
        <button id="submitCode">Войти</button>
    </div>
    <script src="/static/access.js"></script>
</body>
</html>
